#add-user
{
    height: 5%;
    width: 2.5%;
    outline: none;
    border: 0px;
    cursor: pointer;
}

img
{
    height:100%;
    width:75%;
    outline: none;
    cursor: pointer;
}

#sign-players
{
    height: 4.3%;
    width: 8%;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

#remove-user
{
    height: 5%;
    width: 2.5%;
    outline: none;
    border: 0px;
    cursor: pointer;
}